<h1>Student Form</h1>

<%= form_tag students_path do  %>
  <label>Enter first name</label><br>
  <%= text_field_tag(:'student[first_name]') %><br><br>

  <label>Enter last name</label><br>
  <%= text_field_tag(:'student[last_name]') %><br><br>

  <%= submit_tag("Submit Student") %>
<% end %>
