<h1>Student Form<h1>
<form action="<%= new_student_path %>" method="POST">
<input type="text" name="student[first_name]">
<input type="text" name="student[last_name]">
<input type="submit" value="Submit Student">
</form>